@model WhatsUp.Models.Account

@{
    ViewBag.Title = "Geregistreerd";
}

<h2>Succesvol geregistreerd</h2>


<p>U heeft succesvol een account aangemaakt bij WhatsUp. U ontvangt binnenkort een bevestigingsmail van ons.</p>

<p>Log in met uw account</p> <div class="btn btn-sm btn-success">@Html.ActionLink("Inloggen", "Login")</div>